/* ==========================
      CALCULATOR
========================== */

.calculator-section{

margin-bottom:80px;

}

.calculator-card{

background:rgba(255,255,255,.75);

backdrop-filter:blur(20px);

-webkit-backdrop-filter:blur(20px);

padding:35px;

border-radius:20px;

box-shadow:var(--shadow);

border:1px solid #E5E7EB;

}

.calculator-header{

margin-bottom:25px;

}

.calculator-header h2{

color:var(--primary);

font-size:34px;

}

.expression-box{

margin-bottom:20px;

}

.expression-box label{

display:block;

margin-bottom:10px;

font-weight:bold;

}

.expression-box input{

width:100%;

padding:15px;

font-size:20px;

border:2px solid #CBD5E1;

border-radius:12px;

background:#F8FAFC;

}

.display-box{

margin-bottom:30px;

}

.display-box input{

width:100%;

padding:18px;

font-size:32px;

text-align:right;

border:none;

background:#EFF6FF;

border-radius:12px;

font-weight:bold;

color:#2563EB;

}

.calculator-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:15px;

}

.calc-btn,
.operator,
.clear-btn,
.delete-btn,
.equal-btn{

padding:18px;

font-size:22px;

border:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.calc-btn{

background:#F8FAFC;

}

.calc-btn:hover{

background:#DBEAFE;

}

.operator{

background:#2563EB;

}

.operator:hover{

background:#1D4ED8;

}

.clear-btn{

grid-column:span 2;

background:#EF4444;

color:white;

}

.delete-btn{

background:#F59E0B;

color:white;

}

.equal-btn{

background:#22C55E;

color:white;

}

.calc-btn:hover,
.operator:hover,
.clear-btn:hover,
.delete-btn:hover,
.equal-btn:hover{

transform:translateY(-4px);

box-shadow:0 15px 25px rgba(0,0,0,.15);

}