<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Smart Vision Calculator</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="container">

        <h1>

            Smart Vision Calculator

        </h1>

        <p>

            AI Powered OCR Calculator

        </p>

        <h3>

            Sprint 1 Successfully Started 🚀

        </h3>

    </div>

</body>

</html>